/*
 * Copyright 2023, NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	soc {
		sram: sram@30000000 {
			sram0: memory@202A0000 {
				/* When SMARTWATCH_REDUCE_RAM=y, can 
				 * reduce RAM size
				 */
				reg = < 0x202A0000 DT_SIZE_K(384) >;
			};
			/* When SMARTWATCH_REDUCE_RAM=y, remaining SRAM
			 * is powered off to improve battery life
			 */
			sram_unpowered: memory@20300000 {
				compatible = "mmio-sram";
				reg = < 0x20300000 DT_SIZE_M(3) >;
			};
		};
	};
};

